@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 offset-md-4 text-center mt-5">
            <header>
              
                <p class="text-danger">You do not have access to this resource.</p>

                <p><a href="@Href("~/")" class="btn btn-light">Head to home</a></p>
            </header>
        </div>
    </div>
</div>


