@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="offset-md-7 col-md-5 col-sm-12">
            <div class="card m-5">
                <div class="card-body">
                    <p class="lead alert alert-success">
                        Please check your email to confirm your account.
                    </p>
                    <p>&nbsp;</p>
                    <a asp-page="./Login" class="btn btn-dark">Login</a>
                </div>
            </div>

        </div>
    </div>
</div>
